-title = h(question.title)
-if question.closed
  -title += " [ZAMKNIĘTE]"

-if !local_assigns[:mini]
  -owner = nil
  - last_target = question
  - last_target_date = question.activity_at
  - owner = question.user unless question.anonymous

  %article{:class => class_for_question(question)}
    .counters
      - votecount = question.votes_average
      .votecount
        .count
          = votecount
        .tail
          = t(:votes, { :scope => "counters", :count => votecount})
      - answercount = question.answers_count
      - answered = question.answered
      - if answercount != 0
        - if answered
          .answercount-accepted
            .count
              = answercount
            .tail
              = t(:answers, { :scope => "counters", :count => answercount})
        - else
          .answercount
            .count
              = answercount
            .tail
              = t(:answers, { :scope => "counters", :count => answercount})
      - else
        .answercount-none
          .count
            = answercount
          .tail
            = t(:answers, { :scope => "counters", :count => answercount})
      - viewcount = question.views_count
      .viewcount
        .count
          = viewcount
        .tail
          = t(:views, { :scope => "counters", :count => viewcount})
    .summary
      -cache("question_on_index_#{question.id}_#{I18n.locale}") do
        %h2
          = link_to title, question_path(question), :title => truncate(strip_tags(question.body), :length => 200)

      .user-data
        %span.timeago{ :title => l(last_target_date, :format => :iso) }
          = time_ago_in_short_words(last_target_date)
        -if owner
          =render :partial => "users/user_data", :locals => {:user => owner}
        -else
          anonim

      .tags
        %ul
          -if question.wiki
            %li{:class => "wiki" }
              wiki
          -question.first_tags.each do |tag|
            %li{:class => "tag_#{h(tag)}"}
              = link_to h(tag), tag_path(:id => tag), :rel => "tag", :title => t("questions.tags.tooltip", :tag => tag)
          -#-if question.tags.empty? && logged_in? && (current_user.can_modify?(@question) || current_user.can_retag_others_questions_on?(current_group))
          -#  %li
          -#    = link_to t('questions.show.retag'), retag_question_path(question), :id => 'retag', :class => "important"
    .clear

-else
  -cache("mini_question_on_index_#{question.id}_#{I18n.locale}") do
    %article{:class => "#{class_for_question(question)} #{local_assigns[:lite] ? 'lite' : ''}"}

      %h3
        = link_to title, question_path(question)

      .toolbar
        %ul
          %li.answers
            = link_to "#{format_number(question.answers_count)} #{t(:answers, :scope => "activerecord.attributes.question")}"
