%nav
  %h1
    = yield :title_heading
  %ul.content-tabs
    %li{:class => @active_subtab.to_s == "najnowsze" ? "newest active" : "newest"}
      = link_to "najnowsze", url_for(params.merge(:sort=>"najnowsze", :unanswered => nil)), :title => "Ostatnio zadane pytania"
    %li{:class => @active_subtab.to_s == "popularne" ? "hot active" : "hot"}
      = link_to "popularne", url_for(params.merge(:sort=>"popularne", :unanswered => nil)), :title => "Pytania o największej popularności", :rel => "nofollow"
    %li{:class => @active_subtab.to_s == "glosy" ? "votes active" : "votes"}
      = link_to "głosy", url_for(params.merge(:sort=>"glosy", :unanswered => nil)), :title => "Pytania z największą ilością głosów", :rel => "nofollow"
    %li{:class => @active_subtab.to_s == "aktywnosc" ? "activity active" : "activity"}
      = link_to "aktywność", url_for(params.merge(:sort=>"aktywnosc", :unanswered => nil)), :title => "Pytania, w których ostatnio pojawiły się nowe komentarze lub odpowiedzi", :rel => "nofollow"
    %li{:class => @active_subtab.to_s == "bez_odpowiedzi" ? "unanswered active" : "unanswered"}
      = link_to "bez odpowiedzi", url_for(params.merge(:sort => "bez_odpowiedzi", :unanswered => nil)), :title => "Pytania bez odpowiedzi"
  .clear