%footer
  %nav
    %ul
      %li
        = link_to 'O serwisie', ''
      %li
        = link_to 'Blog', 'http://blog.meltdown.pl'
      %li
        = link_to 'Zastrzeżenia prawne', 'http://meltdown.pl/disclaimer'
      %li
        = link_to 'Reklama', ''
      %li
        = link_to 'Kontakt', ''

  %nav.partners
    %ul
      %li
        Serwisy stowarzyszone:
      %li
        = link_to '...', 'http://example.com'

  %p.separate
    == Projekt strony i logo &copy; 2011 <em>meltdown.pl</em>. W logo serwisu wykorzystano zmodyfikowaną czcionkę <em>Juice</em> #{link_to 'Dhany Arliyanti', 'http://www.gadisradio.blogspot.com/'} za zgodą autorki.<br />Treści publikowane przez użytkowników udostępniane są na zasadach licencji #{link_to 'CC BY-SA 3.0', 'http://creativecommons.org/licenses/by-sa/3.0/'} z wymaganym przypisaniem autorstwa.
  %p.separate
    == Ograniczenia prawne...
  %p
    == Serwis korzysta z oprogramowania #{link_to 'Shapado', 'http://gitorious.org/shapado'} na zasadach licencji #{link_to 'GNU Affero General Public License','http://www.fsf.org/licensing/licenses/agpl-3.0.html'}.<br />Zgodnie z warunkami licencji dostęp do zmodyfikowanego kodu źródłowego możliwy jest poprzez #{link_to 'repozytorium meltdown.pl', 'https://github.com/karoldvl/meltdown'}.

