!!! 5
%html{"xml:lang" => I18n.locale, :lang => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      &= page_title
    = render "shared/layout/css"

    = raw(current_group.head_tag)
    = render "shared/layout/meta"
    <!--[if lt IE 8]><link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/ie7.css"><![endif]-->
    = render "shared/layout/javascript"
    <link type="text/css" rel="stylesheet" media="screen" href="http://jqueryui.com/themes/base/jquery.ui.tabs.css">

    = csrf_meta_tag

  %body
    #menu-container{:class => @current_class}
      - if logged_in?
        = current_user.login
      - else
        = link_to "Zaloguj", "#"

    #logo-container{:class => @current_class}
      <a href="/"><img id="logo" src="/images/meltdown-logo.png" /></a>
      %nav{:class => @active_tab}
        %ul
          %li><
            - if @active_tab == :questions
              - tab_status = "current"
            - else
              - tab_status = ""
            = link_to "Pytania", questions_path, :class => "nav-button #{tab_status}"
          -# %li><
            -# = link_to "Tagi", "#", :class => "nav-button"
          %li><
            - if @active_tab == :users
              - tab_status = "current"
            - else
              - tab_status = ""
            = link_to "Użytkownicy", users_path, :class => "nav-button #{tab_status}"
          -# %li><
            -# = link_to "Odznaki", "#", :class => "nav-button"
          -# %li><
            -# = link_to "Bez odpowiedzi", "#", :class => "nav-button"

          %li><
            - if @active_tab == :ask_question
              - tab_status = "current"
            - else
              - tab_status = ""
            = link_to "Nowe pytanie", new_question_path, :class => "nav-button ask #{tab_status}"


    #container{:class => @current_class}
      %section.content-panel
        -# = render "shared/action-tabs"

        #main-content-wrap
          = yield
          .clear

      %section.right-panel
        -# = render "shared/user-zone"

        = yield :sidebar

        .info-box
          .peachFill
            Witaj użytkowniku!

          %p
            Serwis
            %a
              meltdown.pl
            jest otwartą i&nbsp;bezpłatną
            <em>bazą odpowiedzi na pytania z zakresu szeroko pojętych finansów i ekonomii</em>
            współtworzoną przez wszystkich użytkowników.

          %p
            Więcej o ogólnej tematyce pytań zadawanych w serwisie możesz dowiedzieć się na
            naszej stronie informacyjnej.

          .peachFill
            %ul
              %li
                %a
                  O serwisie &raquo;
              %li
                %a
                  Zastrzeżenia prawne &raquo;

        -# .widget-lang.module
        -#
          = render :partial => "shared/language_filter"

        -# .widget-links.module
        -#
          %nav
            %ul
              %li
                = link_to "Random question", random_questions_path(:unanswered => true)
              %li
                = link_to "Badges", badges_path
              %li
                = link_to "Pages", pages_path

        =render "widgets/tag_cloud", :widget => TagCloudWidget.new

        -# .widget-networks.module
        -#
          %p  Siguenos y comparte:
          %ul
            %li
              =link_to "Facebook", "#", :class => "facebook", :rel => "nofollow"
            %li
              =link_to "Twitter", "#", :class => "twitter", :rel => "nofollow"
            %li
              =link_to "Digg", "#", :class => "digg", :rel => "nofollow"
            %li
              =link_to "Delicious", "#", :class => "delicious", :rel => "nofollow"
            %li
              -feed_urls.each do |title, url|
                %a{:href => url}
                  =image_tag "atom.png", :width => 20

        = render :partial => "shared/ads/sidebar_180x150"

        -# = render "shared/ads/context_panel_ads"

        .clear
        -# = render "shared/ads/footer_ads"

      #clear

    #footer-container{:class => @current_class}
      = render "shared/layout/footer"
      = render "shared/analytics"
